@model List<Cars.Core.Domain.Car>

<h1>Cars</h1>

<div>
    <a class="btn btn-success" asp-action="Add" asp-controller="Cars">Add car</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Horsepower</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.Horsepower</td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@car.Id">Details</a>
                    <a class="btn btn-warning" asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id">Edit</a>
                    <form asp-action="Delete" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@car.Id" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>